@import './decimals';

@mixin fonts($fs, $lh, $fw: 500) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
}

@mixin section($padding: 20px) {
  padding-top: $padding;
  padding-bottom: $padding;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
