<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="#">
        <svg class="icon" width="24" height="24">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <p class="logo__text">Filmoteka</p>
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./library.html">my&nbsp;&nbsp;library</a>
        </li>
      </ul>
    </nav>
    <div class="header__form">
      <form class="form" id="form">
        <input
          class="form__input"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <svg class="icon form__icon" width="12" height="12">
          <use href="./images/sprite.svg#search"></use>
        </svg>
      </form>
    </div>
  </div>
</header>
