.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    @extend %reset-list;
    display: flex;
    gap: 40px;
  }
}

.nav__link {
  @extend %reset-link;
  display: flex;

  @include fonts(12px, 14px);
  color: var(--light-font-cl);
  text-transform: uppercase;
}
