.footer {
  background-color: var(--secondary-bg-cl);
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }
  &__wrap {
    display: flex;
    justify-content: center;
  }
}
