.gallery {
  @include section;
  padding-bottom: 0;
  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }

  &__list {
    @extend %reset-list;
    --items: 1;

    @media screen and (min-width: $tablet) {
      --items: 2;
    }

    @media screen and (min-width: $desktop) {
      --items: 3;
    }
  }
}
